.categorias{
    font-size: 45px;
    margin-top: 200px;
    margin-left: 650px;
    font-weight: 700px;
}
.cafeMoca{
    font-size: larger;
    font-size: 29px;
    font-weight: 300px;
    margin-left: 160px;
    margin-top: 70px;
}
.cafeLinea1{
    margin-top: -20px;
    margin-left: 180px;
}
.verMas1{
    margin-left: 180px;
}
.mocaImagen{
    width: 350px;
    margin-left: 110px;
    margin-top: -150px;
    opacity: 0.6;
}
.imagenExpreso{
    width: 350px;
    margin-left: 90px;
    margin-top: -130px;
    opacity: 0.4;
    margin-top: -170px;
}
.expreso1{
    font-size: 29px;
    font-weight: 300px;
    margin-left: 130px;
    margin-top: -150px;
    
}

.cafeLinea2{
    margin-left: 200px;
}
.verMas2{
    margin-left: 190px;
}
.imagenCapuchino{
    width: 350px;
    margin-left: 90px;
    margin-top: -130px;
    opacity: 0.4;
    margin-top: -170px;
}
.capuchino1{
    font-size: 29px;
    font-weight: 300px;
    margin-left: 200px;
    

}
.cafeLinea3{
    margin-left: 240px;
}
.verMas3{
    margin-left: 230px;
}
.imagenPostre{
    width: 350px;
    margin-left: 70px;
    opacity: 0.4;
    margin-top: -170px;
}
.postre{
    font-size: 29px;
    font-weight: 300px;
    margin-left: 200px;
}
.cafeLinea4{
    margin-left: 210px;
}
.verMas4{
    margin-left: 210px;
}