.categorias{
    font-size: 45px;
    margin-top: 350px;
    margin-left: 650px;
    font-weight: 700px;
}
.cafeMoca{
    font-size: larger;
    font-size: 29px;
    font-weight: 300px;
    margin-left: 130px;
    margin-top: 50px;
}
.expreso{
    font-size: 29px;
    font-weight: 300px;
    margin-left: 450px;
    
}
.capuchino1{
    font-size: 29px;
    font-weight: 300px;
    margin-left: 450px;
    

}
.postre{
    font-size: 29px;
    font-weight: 300px;
    margin-left: 450px;
}