.navbar{
    background-color: rgb(233, 134, 63);
    margin-top: 40px;
    width: 1850px;
    height: 90px;
    
}
 .textLlamada{
    margin-top: -100px;
    margin-left: 100px;
    margin-right: 60px;
    font-size: 20px;
    
}   
.telefono{
  margin-left: 110px;
  font-size: 15px;
}
.tituloc{
    font-size: larger 30px;
    margin-top: 10px;
    margin-left: 620px;
    height: 100px;
}
.inicio{
    margin-left: 80px;
    color: aliceblue;
    font-size: larger;
    font-size: 25px;
}
.moca{
    margin-left: -150px;
    color: aliceblue;
    font-size: larger;
    font-size: 25px;
}
.capuchino{
    margin-left: -160px;
    color: aliceblue;
    font-size: larger;
    font-size: 25px;
}
.expreso{
    margin-left: -160px;
    color: aliceblue;
    font-size: larger;
    font-size: 25px;
}
.postres{
    margin-left: -160px;
    color: aliceblue;
    font-size: larger;
    font-size: 25px;
}
.mas{
    margin-left: -160px;
    color: aliceblue;
    font-size: larger;
    font-size: 25px;
}
.inputBuscar{
    margin-left: -160px;
    color: aliceblue;
    font-size: larger;
    font-size: 25px;
}
.btnBuscar{
    margin-left: -299px;
    width: 60px;
    height: 47px;
}
.infCafe{
    margin-left: 200px;
    margin-top: 90px;
}